//Fonts here

// GothamPro
@font-face {
  font-family: 'GothamPro';
  src: url(/assets/fonts/GothamPro/GothamPro.ttf);
}
@font-face {
  font-family: 'GothamProLight';
  src: url(/assets/fonts/GothamPro/GothamProLight.ttf);
}
@font-face {
  font-family: 'GothamProMedium';
  src: url(/assets/fonts/GothamPro/GothamProMedium.ttf);
}
@font-face {
  font-family: 'GothamProBlack';
  src: url(/assets/fonts/GothamPro/GothamProBlack.ttf);
}
@font-face {
  font-family: 'GothamProBold';
  src: url(/assets/fonts/GothamPro/GothamProBold.ttf);
}
@font-face {
  font-family: 'fontello';
  src: url(/assets/fonts/GothamPro/fontello.ttf);
}