*,
*:before,
*:after {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
html,
body {
  margin: 0;
  height: 100%;
  background-color: $bc;
  font-family: $ff;
  font-size: $fs;
  color: $c;
}
.content {
  margin: 0 auto;
  width: 100%;
  max-width: $maxw;
}